In [2]:
import pandas as pd
import networkx as nx

In [1]:
path = "../../Elliptic_plusplus"

In [3]:
df_tx_edges = pd.read_csv(f"{path}/txs_edgelist.csv")
df_tx_feats = pd.read_csv(f"{path}/txs_features.csv")
df_tx_classes = pd.read_csv(f"{path}/txs_classes.csv")

In [5]:
G = nx.from_pandas_edgelist(df_tx_edges, "txId1", "txId2")

In [7]:
G.number_of_edges(), G.number_of_nodes()

(234355, 203769)

In [18]:
df_tx_edges["txId"] = df_tx_edges["txId1"]

In [21]:
df = df_tx_edges.merge(df_tx_feats[["Time step", "txId"]], on="txId", how="inner")

In [22]:
df

            txId1      txId2       txId  Time step
0       230425980    5530458  230425980          1
1       232022460  232438397  232022460          1
2       230460314  230459870  230460314          1
3       230333930  230595899  230333930          1
4       232013274  232029206  232013274          1
...           ...        ...        ...        ...
234350  158365409  157930723  158365409         49
234351  188708874  188708879  188708874         49
234352  157659064  157659046  157659064         49
234353   87414554  106877725   87414554         49
234354  158589452  158589457  158589452         49

[234355 rows x 4 columns]

In [23]:
df_tx_feats[df_tx_feats["txId"] == 5530458]

,txId,Time step,Local_feature_1,Local_feature_2,Local_feature_3,Local_feature_4,Local_feature_5,Local_feature_6,Local_feature_7,Local_feature_8,...,in_BTC_min,in_BTC_max,in_BTC_mean,in_BTC_median,in_BTC_total,out_BTC_min,out_BTC_max,out_BTC_mean,out_BTC_median,out_BTC_total
593,5530458,1,-0.171484,-0.184668,-1.201369,-0.12197,-0.043875,-0.113002,-0.061584,-0.162112,...,0.237665,0.237665,0.237665,0.237665,0.237665,0.022749,0.214816,0.118783,0.118783,0.237565

In [10]:
df_combined_feats = df_tx_feats.merge(df_tx_classes, on="txId", how="inner")

In [17]:
df_tx_edges.head()

       txId1      txId2
0  230425980    5530458
1  232022460  232438397
2  230460314  230459870
3  230333930  230595899
4  232013274  232029206

In [16]:
df_combined_feats

,txId,Time step,Local_feature_1,Local_feature_2,Local_feature_3,Local_feature_4,Local_feature_5,Local_feature_6,Local_feature_7,Local_feature_8,...,in_BTC_max,in_BTC_mean,in_BTC_median,in_BTC_total,out_BTC_min,out_BTC_max,out_BTC_mean,out_BTC_median,out_BTC_total,class
0,3321,1,-0.169615,-0.184668,-1.201369,-0.121970,-0.043875,-0.113002,-0.061584,-0.160199,...,0.534072,0.534072,0.534072,0.534072,1.668990e-01,0.367074,0.266986,0.266986,0.533972,3
1,11108,1,-0.137586,-0.184668,-1.201369,-0.121970,-0.043875,-0.113002,-0.061584,-0.127429,...,5.611878,5.611878,5.611878,5.611878,5.861940e-01,5.025584,2.805889,2.805889,5.611778,3
2,51816,1,-0.170103,-0.184668,-1.201369,-0.121970,-0.043875,-0.113002,-0.061584,-0.160699,...,0.456608,0.456608,0.456608,0.456608,2.279902e-01,0.228518,0.228254,0.228254,0.456508,3
3,68869,1,-0.114267,-0.184668,-1.201369,0.028105,-0.043875,-0.113002,0.547008,-0.161652,...,8.000000,3.102967,1.000000,9.308900,1.229000e+00,8.079800,4.654400,4.654400,9.308800,2
4,89273,1,5.202107,-0.210553,-1.756361,-0.121970,260.090707,-0.113002,-0.061584,5.335864,...,852.164680,852.164680,852.164680,852.164680,1.300000e-07,41.264036,0.065016,0.000441,852.164680,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203764,158304003,49,-0.165622,-0.139563,1.018602,-0.121970,-0.043875,-0.113002,-0.061584,-0.156113,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
203765,158303998,49,-0.167040,-0.139563,1.018602,-0.121970,-0.043875,-0.113002,-0.061584,-0.157564,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
203766,158303966,49,-0.167040,-0.139563,1.018602,-0.121970,-0.043875,-0.113002,-0.061584,-0.157564,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
203767,161526077,49,-0.172212,-0.139573,1.018602,-0.121970,-0.043875,-0.113002,-0.061584,-0.162856,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
203768,194103537,49,-0.172212,-0.139573,1.018602,-0.121970,-0.043875,-0.113002,-0.061584,-0.162856,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3

In [15]:
df_feats = df_combined_feats.set_index("txId")

for i, node in enumerate(G.nodes()):
    if i % 1000 == 0:
        print(f"Node {i+1}/{G.number_of_nodes()}")
        
    try:
        row = df_feats.loc[node]
    except KeyError:
        raise ValueError(f"Node {node} not found in feature df")
    
    feats, label = row.drop(columns=["class"]), row["class"]
    G.nodes[node].update(feats.to_dict())
    G.nodes[node]["label"] = label

Node 1/203769
Node 1001/203769
Node 2001/203769
Node 3001/203769
Node 4001/203769
Node 5001/203769
Node 6001/203769
Node 7001/203769
Node 8001/203769
Node 9001/203769
Node 10001/203769
Node 11001/203769
Node 12001/203769
Node 13001/203769
Node 14001/203769
Node 15001/203769
Node 16001/203769
Node 17001/203769
Node 18001/203769
Node 19001/203769
Node 20001/203769
Node 21001/203769
Node 22001/203769
Node 23001/203769
Node 24001/203769
Node 25001/203769
Node 26001/203769
Node 27001/203769
Node 28001/203769
Node 29001/203769
Node 30001/203769
Node 31001/203769
Node 32001/203769
Node 33001/203769
Node 34001/203769
Node 35001/203769
Node 36001/203769
Node 37001/203769
Node 38001/203769
Node 39001/203769
Node 40001/203769
Node 41001/203769
Node 42001/203769
Node 43001/203769
Node 44001/203769
Node 45001/203769
Node 46001/203769
Node 47001/203769
Node 48001/203769
Node 49001/203769
Node 50001/203769
Node 51001/203769
Node 52001/203769
Node 53001/203769
Node 54001/203769
Node 55001/203769
Node 56001/203769
Node 57001/203769
Node 58001/203769
Node 59001/203769
Node 60001/203769
Node 61001/203769
Node 62001/203769
Node 63001/203769
Node 64001/203769
Node 65001/203769
Node 66001/203769
Node 67001/203769
Node 68001/203769
Node 69001/203769
Node 70001/203769
Node 71001/203769
Node 72001/203769
Node 73001/203769
Node 74001/203769
Node 75001/203769
Node 76001/203769
Node 77001/203769
Node 78001/203769
Node 79001/203769
Node 80001/203769
Node 81001/203769
Node 82001/203769
Node 83001/203769
Node 84001/203769
Node 85001/203769
Node 86001/203769
Node 87001/203769
Node 88001/203769
Node 89001/203769
Node 90001/203769
Node 91001/203769
Node 92001/203769
Node 93001/203769
Node 94001/203769
Node 95001/203769
Node 96001/203769
Node 97001/203769
Node 98001/203769
Node 99001/203769
Node 100001/203769
Node 101001/203769
Node 102001/203769
Node 103001/203769
Node 104001/203769
Node 105001/203769
Node 106001/203769
Node 107001/203769
Node 108001/203769
Node 109001/203769
Node 110001/203769
Node 111001/203769
Node 112001/203769
Node 113001/203769
Node 114001/203769
Node 115001/203769
Node 116001/203769
Node 117001/203769
Node 118001/203769
Node 119001/203769
Node 120001/203769
Node 121001/203769
Node 122001/203769
Node 123001/203769
Node 124001/203769
Node 125001/203769
Node 126001/203769
Node 127001/203769
Node 128001/203769
Node 129001/203769
Node 130001/203769
Node 131001/203769
Node 132001/203769
Node 133001/203769
Node 134001/203769
Node 135001/203769
Node 136001/203769
Node 137001/203769
Node 138001/203769
Node 139001/203769
Node 140001/203769
Node 141001/203769
Node 142001/203769
Node 143001/203769
Node 144001/203769
Node 145001/203769
Node 146001/203769
Node 147001/203769
Node 148001/203769
Node 149001/203769
Node 150001/203769
Node 151001/203769
Node 152001/203769
Node 153001/203769
Node 154001/203769
Node 155001/203769
Node 156001/203769
Node 157001/203769
Node 158001/203769
Node 159001/203769
Node 160001/203769
Node 161001/203769
Node 162001/203769
Node 163001/203769
Node 164001/203769
Node 165001/203769
Node 166001/203769
Node 167001/203769
Node 168001/203769
Node 169001/203769
Node 170001/203769
Node 171001/203769
Node 172001/203769
Node 173001/203769
Node 174001/203769
Node 175001/203769
Node 176001/203769
Node 177001/203769
Node 178001/203769
Node 179001/203769
Node 180001/203769
Node 181001/203769
Node 182001/203769
Node 183001/203769
Node 184001/203769
Node 185001/203769
Node 186001/203769
Node 187001/203769
Node 188001/203769
Node 189001/203769
Node 190001/203769
Node 191001/203769
Node 192001/203769
Node 193001/203769
Node 194001/203769
Node 195001/203769
Node 196001/203769
Node 197001/203769
Node 198001/203769
Node 199001/203769
Node 200001/203769
Node 201001/203769
Node 202001/203769
Node 203001/203769

In [ ]:
import pickle

with open(f"../../graphs/tx_graph/tx_transaction_graph_timestamp_{dt}.pkl", "wb") as f:
    pickle.dump(G, f)